<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <header>
      <% include ../partials/header %>
    </header>
    <div class="posts">
    <% include partials/top %>
<div class="edit">
  <div class="buttons">
    <a class="button" href="/posts<%= urlQuery('?') %>">이전으로</a>
  </div>
  <h3>게시글 수정</h3>
  <form class="checkValidation" action="/posts/<%= post._id + urlQuery('?') %>&_method=put" method="post">
    <div class="inputs">
      <div class="floats">
        <label>제목</label>
        <input class="cvRequired" type="text" name="post[title]" cvRqErrMsg="Title is required." cvRqErrTo="#cvErrTitle" value="<%=post.title%>">
        <div id="cvErrTitle" class="message"></div>
      </div>
      <div class="floats">
        <label>작성자</label>
        <input disabled type="text" value="<%= user.nickname %>">
      </div>
      <div class="floats">
        <label>내용</label>
        <textarea class="cvRequired" name="post[body]" cvRqErrMsg="Body is required." cvRqErrTo="#cvErrBody"><%=post.body%></textarea>
        <div id="cvErrBody" class="message"></div>
      </div>
    </div>
    <div class="buttons">
      <input class="button" type="submit" value="제출">
    </div>
  </form>
</div>

    </div>
    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
